.menu-card {
    background-color: #e9f8fb;
    padding: 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #232323;
    font-size: 18px;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.menu-card:first-child {
    background-color: #fe8c01;
    padding: 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-size: 18px;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.menu-card:hover {
    background-color: #fe8c01;
    color: #fff;
}